header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
  
}

header a {
    color: aquamarine;
    font-size: 16px;
}
 
.header--secundary {
    color:white;
    font-weight: 300;
    font-size: 42px;
    text-align: center;
}

.header--sub-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    text-align: center;
    color: white;
}
body {
    background-color: black;
   text-align: center;
}
video {
    transition-delay: 0ms;
    animation-delay: 0ms;
}
.header--sub-header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    text-align: center;
    color: white;
}